{% extends "kompenz/base.html" %}  
{% load static %}

{% block main %}
    <h1>Dotaznik</h1>
    <p>Na tejto stránke získate viac informácií o nárokoch na kompenzácie pomocou dotazníka.</p>
    <section>
       <form  method="POST" action="dotaznik.html">
            {% csrf_token %} 
           <table>
               {{ form.as_table}}
           </table>
            <input type="submit" value="Ďalej" />
            
        </form> 
    </section>
    
    <!-- <p>
        <a href={% url 'otazka1' %} class="btn btn-info" role="button">Začať</a>
    </p> -->

{% endblock %} 