{% extends "kompenz/base.html" %}  
{% load static %}


{% block main %}
    
    <h1>Aplikácia</h1>
        <h2>Vitaje na stránkach našej novej aplikácie!</h2> 
        <p>Pomocou tejto aplikácie môžete zistiť či máte nárok zažiadať o preukaz zdravotne ťažko postihnutého občana,
             o parkovací preukaz pre invalidov, ale aj o iné kompenzácie.</p>
        <p>Táto aplikácia je stále vo vývoji a momentálne je pre verejnosť dostupná iba jej demo verzia.</p>
        <p>Pomocou tejto demo verzie zisíte základné informácie a podmienky k získaniu preukazu ZŤP a k parkovaciemu preukazu.
             V oblasti kompenzácií získate informácie ku získaniu kompenzácií na kúpu pomôcky, alebo na kúpu osobného motorového vozidla.</p> 

     
{% endblock %}
