{% extends "kompenz/base.html" %}  
{% load static %}

{% block main %}
    <h1>Užitočné odkazy</h1>
    <p>V tejto sekcii nájdete niekoľko užitočných odkazov, na ktorých nájdete rozširujúce informácie k tejto aplikácií. 
        Stránky ponúkajú často veľmi rozsiahle informácie, čo čiastočne znižuje ich prehľadnosť.
    </p>
    <h2></h2>
    <h3>ÚPSVaR - Ústredie práce, sociálnych vecí a rodiny</h3>
    <p>Oficálne stránky Ústredia práce, socálnych vecí a rodiny Slovenskej Republiky. 
        Odkaz je priamo na sekciu venovanú občanom so zdravotným postihnutím.</p>
    <p>
        <a href="http://www.upsvr.gov.sk/obcan-so-zdravotnym-postihnutim.html?page_id=236">Občan so zdravotným postihnutím</a>
    </p>
    <h3>Zákony pre ľudí</h3>
    <p>Stránka sprostredkovávajúca plné znenie aktuálnych zákonov Slovenskej Republiky. Priamy odkaz na zákon č.447/2008 Z.z. </p>
    <p>
        <a href="http://www.zakonypreludi.sk/zz/2008-447">Zákon o peňažných príspevkoch na kompenzáciu ťažkého zdravotného postihnutia a o zmene a doplnení niektorých zákonov</a>
    </p>
{% endblock %}